/* .main-page {} */

form {
    font-size: 14px;
}

.form-group {
    margin-bottom: 0.5rem;
}

.form-control {
    font-size: 14px;
}

*:focus {
    box-shadow: none !important;
}

button.btn-sm {
    font-size: 14px;
    padding: .15rem .3rem;
}

.cursor-p {
    cursor: pointer;
}

.cursor-d {
    cursor: not-allowed;
}